* {
    background-color: #bce4e5;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

header {
    background-color: #97acc8;
    padding: 20px;
    text-align: center;
}

.titlebackground {
    background-color: #97acc8;
    padding: 6px 100px;
    border-radius: 20px;
    width: 250px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.title {
    font-size: 50px;
    font-weight: bold;
    color: #ffffff;
    letter-spacing: 1px;
}
